body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
.input-group {
  margin-bottom: 1rem;
}

.input-group p {
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.equal-true {
  color: green !important;
  font-weight: bold;
}

.equal-false {
  color: red !important;
  font-weight: bold;
}

.import-container {
  background-color: white;
  border: 1px solid #ddd;
  border-left: 5px solid #fcb827;
  border-radius: 6px;
  padding: 20px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.import-container h2 {
  font-size: 1.5rem;
  color: #fcb827;
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  color: #444;
}

input[type="file"] {
  display: block;
  margin-bottom: 16px;
}

button {
  background-color: #fcb827;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
html, body {
  height: 100%;
  margin: 0;
}
button:hover {
  background-color: #e0a30d;
}


pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px;
  overflow-x: auto;
  margin-top: 20px;
  border-radius: 4px;
}

